<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="FF4">

    <title>Fantastic Four - FF4</title>

    <!-- Bootstrap Core CSS -->
    <link rel="shortcut icon" href="img/network.png" type="image/x-icon">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->

</head>

<body>

    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">Application Data</div>
            <div class="panel-body">
                <div class="col-sm-6">
                    <div class="col-sm-4 ">
                        <label>Name:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="col-sm-4 ">
                        <label>E-mail:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>

                <br>
                <br>


                <div class="col-sm-6">
                    <div class="col-sm-4 ">
                        <label>Phone 1:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="col-sm-4 ">
                        <label>Phone 2:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>


                <br>
                <br>

                <div class="col-sm-6">
                    <div class="col-sm-4 ">
                        <label>Address:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="col-sm-4 ">
                        <label>Location to meet:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>


                <br>
                <br>


                <div class="col-sm-6 ">
                    <div class="col-sm-4 ">
                        <label>Estimate Price:</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class='col-sm-6'>
                    <div class="col-sm-4 ">
                        <label>Estimate time:</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <div class='input-group date' name='datePicker'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>


                <br>
                <br>

                <div class="col-sm-6">
                    <div class="col-sm-4 ">
                        <label>Business Scope:</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" name="BusinessScopeDdl">
                            <option value="">--Select Scope--</option>
                            <option value="Aerospace">Aerospace Company</option>
                            <option value="Cargo">Cargo & Freight Company</option>
                            <option value="Chemical">Chemical Company</option>
                            <option value="Education">Education</option>
                            <option value="Computer">Computer Company</option>
                            <option value="Sport">Sport</option>
                            <option value="Government">Government Organization</option>
                            <option value="Health">Health/Beauty</option>
                            <option value="Insurance">Insurance Company</option>
                            <option value="Media">Media/News Company</option>
                            <option value="Travel">Travel Company</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="col-sm-4 ">
                        <label>Software Type:</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="form-control" name="SoftwareTypeDdl">
                            <option value="" class="text-center">--Select Project--</option>
                            <option value="Desktop">Desktop Application</option>
                            <option value="Mobile">Mobile Application</option>
                            <option value="Website">Website</option>
                            <option value="Api">API</option>
                        </select>
                    </div>
                </div>


                <br>
                <br>
                <br>

                <div class='col-sm-6'>
                    <div class="col-sm-4 ">
                        <label>Time to meet:</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <div class='input-group date' name='datePicker'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="col-sm-4 ">
                        <label>Urgently needed</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="checkbox">
                    </div>
                </div>

                <br>
                <br>

                <div class="col-sm-12 ">
                    <div class="col-sm-4 ">
                        <label>Description :</label>
                    </div>
                    <br>
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                </div>


                <br>
                <br>


                <div class="col-sm-12 ">
                    <br>
                    <br>
                    <div class="text-center">
                        <input type="submit" class="btn btn-success " />
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("[name='datePicker']").datepicker({
                format: 'mm/dd/yyyy'
            });
        })();
    </script>

</body>

</html>